<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h2>Here's Your Pigified Word</h2><br>
    <h3><%=@phrase.piglatinize(params["user_phrase"])%></h3>
  </body>
</html>